<ion-content class="content-desktop" *ngIf='pedido'>
  <ion-toolbar color="primary">
    <ion-title>Evolução do pedido</ion-title>
  </ion-toolbar>

  <ion-navbar icon-only>
    <ion-item no-margin no-lines>
      <ion-avatar item-start>
        <img *ngIf="pedido.usuario.usr_fb_foto" [src]="pedido.usuario.usr_fb_foto.data.url">
      </ion-avatar>
      <h2>{{pedido.usuario.usr_nome}}</h2>
      <p text-right> {{pedido.dataCriacao | amDateFormat: 'DD/MM/YYYY'}}</p>      
      
      <p text-no-wrap>
        {{pedido.enderecoEntrega.rua + ', ' + pedido.enderecoEntrega.complemento + ', ' + pedido.enderecoEntrega.numero + ', ' +
        pedido.enderecoEntrega.bairro + ', ' + pedido.enderecoEntrega.cidade + ', ' + pedido.enderecoEntrega.estado + ' -
        ' + pedido.enderecoEntrega.cep}}
      </p>
      <p text-right>Total do pedido:
        <span ion-text color='customColor3'>R${{pedido.total}}</span>
      </p>
      <p text-right ion-text color='customColor1'>{{pedido.formaPagamento.pag_descricao}}</p>
      <p text-right *ngIf="pedido.troco">Troco para R${{pedido.troco}}</p>
    </ion-item>
  </ion-navbar>


  <div class="content-desktop-margin-bottom">

    <h4 ion-text margin-left color="primary" (click)="detalhesPedido()"> Detalhes do Pedido </h4>
    <div padding>
      <timeline [prevision]="pedido.duracao_text">
        <timeline-item *ngFor="let item of timeLineItens">
          <timeline-time [time]="item.time"></timeline-time>
          <ion-icon [name]="item.icon"></ion-icon>
          <ion-card no-border>
            {{item.content}}
          </ion-card>
        </timeline-item>

      </timeline>
    </div>

    <div padding *ngIf="pedido.status==0">
      <button ion-button block icon-right (click)="confirmarPedido()">
        Confirmar Pedido
        <ion-icon [name]="dicionarioStatusPedido[pedido.status+1].icon"></ion-icon>
      </button>
    </div>

    <div padding *ngIf="pedido.status==1">
      <button ion-button block icon-right (click)="concoluirMontagemPedido()">
        Concluir Montagem do Pedido
        <ion-icon [name]="dicionarioStatusPedido[pedido.status+1].icon"></ion-icon>
      </button>
    </div>
    <div padding *ngIf="pedido.status==2">
      <button ion-button block icon-right (click)="selecionarEntregador()">
        Definir Entrega do Pedido
        <ion-icon [name]="dicionarioStatusPedido[pedido.status+1].icon"></ion-icon>
      </button>
    </div>
    <div padding *ngIf="pedido.status==3">
      <button ion-button block icon-right (click)="encerrarEntrega()">
        Encerrar entrega
        <ion-icon [name]="dicionarioStatusPedido[pedido.status+1].icon"></ion-icon>
      </button>
    </div>
    <div padding *ngIf="pedido.status==4">
      <button ion-button block icon-right (click)="finalizarPedido()" color="secondary">
        Finalizar Pedido
        <ion-icon [name]="dicionarioStatusPedido[pedido.status+1].icon"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>