<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro de Menu</ion-title>
    <ion-buttons end>
        <button ion-button color="customColor2" (click)="save()">{{ 'SAVE' | translate }}</button>
        <button ion-button icon-only (click)="navCtrl.pop()">
          <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="modal-desktop">
  <form [formGroup]="formulario" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>Página</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('mnu_page')" formControlName="mnu_page" type="text" placeholder="Digite o cógido da página"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('mnu_page')">
        <p class="error-message">Página obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Titulo</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('mnu_nome')" formControlName="mnu_nome" type="text" placeholder="Digite o nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('mnu_nome')">
        <p class="error-message">Nome obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('mnu_descricao')" formControlName="mnu_descricao" type="text" placeholder="Digite a descrição"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('mnu_descricao')">
        <p class="error-message">Descrição obrigatório</p>
      </ion-item>
        <button ion-button outline icon-left (click)="selecionarIcone($event)">
          <ion-icon name="{{menu.mnu_icone}}"></ion-icon>
          Icone do menu  
        </button>
    </ion-list>
  </form>
</ion-content>