<ion-header class="content-desktop">

  <ion-navbar>
    <ion-title>Catálogo de Produtos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navCtrl.pop()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="content-desktop">
  <div class="content-desktop-margin-bottom">
    <div *ngIf="!selecao" pading>
      <ion-segment [(ngModel)]="catalogo">
        <ion-segment-button value="produtos">
          Produtos
        </ion-segment-button>
        <ion-segment-button value="marcas">
          Marcas
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="catalogo">
      <div *ngSwitchCase="'marcas'">
        <ion-toolbar>
          <ion-title>Marcas</ion-title>
          <ion-buttons end>
            <button ion-button clear icon-only color="primary" (click)="editMarca(null)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <ion-searchbar placeholder="Pesquisar" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisarMarca($event)"></ion-searchbar>
        <ion-list>
          <ion-item-sliding *ngFor='let marca of marcas | async'>
            <ion-item>
              <ion-thumbnail item-start>
                <img *ngIf="!marca.mrc_img" src="assets/img/appicon.png">
                <img *ngIf="marca.mrc_img" [src]="marca.mrc_img">
              </ion-thumbnail>
              <h2>{{marca.mrc_nome}}</h2>
            </ion-item>
            <ion-item-options>
              <button ion-button (click)="editMarca(marca)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
              <button ion-button color="danger" (click)="removerMarca(marca)">
                <ion-icon name="trash"></ion-icon>
                Excluir
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div *ngSwitchCase="'produtos'">
        <ion-toolbar *ngIf="!selecao">
          <ion-title>Produtos</ion-title>
          <ion-buttons end>
            <button ion-button clear icon-only color="primary" (click)="editProduto(null)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-buttons>
            <ion-searchbar style="float:left!important" placeholder="Pesquisar" [showCancelButton]="shouldShowCancel" (ionInput)="pesquisarProduto($event)"></ion-searchbar>
          </ion-buttons>
          <ion-buttons end>
            <order-by-general [listFields]="listFieldsProduto" (changeOrder)="mudaOrdemProduto($event)"></order-by-general>
          </ion-buttons>
        </ion-toolbar>

        <ion-list>
          <ion-item-sliding *ngFor='let produto of produtos | async'>
            <ion-item (click)="selecionarProduto(produto)">
              <ion-thumbnail item-start>
                <img *ngIf="!produto.pro_img" src="assets/img/appicon.png">
                <img *ngIf="produto.pro_img" [src]="produto.pro_img">
              </ion-thumbnail>
              <h2>{{produto.pro_nome}}</h2>
              <p>{{produto.pro_descricao}}</p>
            </ion-item>
            <ion-item-options *ngIf="!selecao">
              <button ion-button (click)="editProduto(produto)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
              <button ion-button color="danger" (click)="removerProduto(produto)">
                <ion-icon name="trash"></ion-icon>
                Excluir
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>