<ion-header class="content-desktop">
  <ion-navbar>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content-desktop">
  <div class="content-desktop-margin-bottom" *ngIf="distribuidor">

    <ion-list>
      <ion-item *ngFor='let pedido of pedidos'>
        <ion-avatar item-start>
          <img *ngIf="pedido.usuario.usr_fb_foto" [src]="pedido.usuario.usr_fb_foto.data.url">
        </ion-avatar>
        <h2>{{pedido.usuario.usr_nome}}</h2>
        <p>{{pedido.total}}</p>
        <p>{{pedido.formaPagamento.pag_descricao}}</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>