<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro de Ação</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navCtrl.pop()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="modal-desktop" >
  <form [formGroup]="formulario" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>Mnemonico</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('aca_mnemonico')" formControlName="aca_mnemonico" type="text"
          placeholder="Digite o mnemonico"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('aca_mnemonico')">
        <p class="error-message">Mnemonico obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Titulo</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('aca_nome')" formControlName="aca_nome" type="text" placeholder="Digite o nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('aca_nome')">
        <p class="error-message">Nome obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('aca_descricao')" formControlName="aca_descricao" type="text" placeholder="Digite a descrição"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('aca_descricao')">
        <p class="error-message">Descrição obrigatório</p>
      </ion-item>
      <ion-item>
        <button ion-button block color="customColor2" (click)="save()">{{ 'SAVE' | translate }}</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>