<ion-content class="content-desktop">
  <h5 margin>Grupos de Usuarios</h5>

  <ion-card *ngFor="let perfil of perfisUsuarios  ">
    <ion-card-header>
      <ion-toolbar>
        <h2>{{perfil.per_nome}}</h2>
        <ion-buttons end>
          <button ion-button clear icon-only color="primary" (click)="selecionarUsuario(perfil)">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-card class="perfil-grupo" *ngFor="let usuario of perfil.per_usuarios">
        <button (click)="excluiPerfil(perfil, usuario)">
          <ion-icon name="close"></ion-icon>
        </button>
        <img *ngIf="usuario.usr_fb_foto" class="image-profile" [src]="usuario.usr_fb_foto.data.url" />
        <img *ngIf="!usuario.usr_fb_foto" (click)="show()" class="image-profile" src="assets/img/user-placeholder-1.jpg" />
        <h5 text-center>{{usuario.usr_nome}}</h5>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>