page-pedido-forma-pagamento {
    img {
        border-radius: 0 !important;
        width: auto;
        height: auto;
        object-fit: contain;                    
    }

    ion-list-header {
        background-color: #eeeeee !important;
        border-top: 1px solid #dedede !important;
        border-bottom: 1px solid #dedede !important;
    }
    ion-footer {
        background-color: #ffffff !important;
    }
    
    .content-carrinho-margin-bottom {
        margin-bottom: 60px !important;
    }
    
    .list-padding-bottom {
        padding-bottom: 9px
    }
}
