page-adicionar-produto-carrinho {
    ion-item {
        img {
            max-width: 8em;    
            min-width: 8em;
            width: auto;
            height: auto;
            object-fit: contain;      
        }
    }    
}
