counter-input {
    .counter 
    {
        float: right;
        margin:0;
        padding:0;
        .button {
            width: 1.5em;
            height: 1.5em;
            font-size: 1em;
            padding: 0.8em;            
            font-weight: bolder;
            vertical-align: bottom;            
            
        }
        .span {
            margin: 0 5px 0 5px;            
            font-size: 1.5em;
            vertical-align: bottom;            
        }
    }   
}
