page-distribuidor-lista {

    ion-content {
      background: url('../assets/img/splashbg.png') no-repeat center center fixed;    
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;      
    }
}
