// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3396D8,
  secondary:  #1abc9c,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       rgb(37, 47, 61),
  customColor1:       #3396D8,
  customColor2:       #e06637,
  customColor3:       #408e7a,
  );


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.main-toolbar {
  width: 100% !important;     
  height: 50px !important;
}

.main-footer{
  height: 50px !important;    
}
.content-desktop {
  width: 100% !important;     
  margin-top: 55px !important;
}

.content-desktop-margin-bottom {
  margin-bottom: 55px !important;
}
@media (min-width: 576px) {
  .content-desktop-inside {
    width: 100% !important;     
    margin: auto;
  }
}

@media (min-width: 768px) {
  .content-desktop-inside {
    width: 100% !important;     
    margin: auto;
  }
}

@media (min-width: 992px) {
  .content-desktop-inside {
    width: 100% !important;     
    margin: auto;
  }
}

@media (min-width: 1023px) {
  .content-desktop-inside {
    width: 90% !important;     
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .content-desktop-inside {
    width: 80% !important;     
    margin: auto;
  }
}

.invalid {
  border-bottom: 1px solid #FF6153;
}

.image-profile {
  border-radius: 50%;
  height: 38px ;
  width: 38px;
} 

.toast-message {
  text-align: center!important;
}  

.toast-success {
  > div{
    background-color:#84C0EB!important;
    border-radius: 5px;
    border: 1px solid rgb(49, 49, 49);
    .toast-message {
      color: rgb(49, 49, 49);
    }    
  }

}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

$modal-inset-min-height-large: 300px;

.item ion-thumbnail {
  min-width: 5em;    
  min-height: 5em;
  text-align: center;
  img {
      max-width: 5em;    
      min-width: 5em;
      width: auto;
      height: auto;
      object-fit: contain;      
  }
}

.img-mapa {
  img {
    display: inline-block;
    max-width: 50px;    
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: contain;      
  }
  .img-mapa-title {
    display: inline-block;
    float: right;
    font-weight: bold;
    padding-top: 20px;    
  }
}

.tab-desktop {
  margin-bottom: 155px !important;
}

.perfil-grupo{
  position: relative; 
  width: 80px !important;
  height: 80px !important;
  float:left;
  margin: 0 10px 10px 10px !important;
  button {
      background-color: #efefef;
      margin-right: 0px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 2px;
      top: 2px;
      border: solid 1px #cccccc;
      text-align: center;
      font-size: 10px;
      color: #999999;
  }
  img {
      margin: 10px auto 0px auto;
      width: 50px;
      height: 50px;
      border-radius: 0px;
  }
}

.logo {
  border: solid 1px #cccccc;
  max-width: 20em;    
  min-width: 20em;
  width: auto;
  height: auto;
  object-fit: contain;      
}

.button {
  text-transform: none !important;
}

 .segment-button {
  text-transform: none !important;
}