// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{ font-family: 'Abel'; src: url('../assets/fonts/Abel.woff2') format('woff2'); }
@font-face{ font-family: 'Dosis'; src: url('../assets/fonts/Dosis.woff2') format('woff2'); }
@font-face{ font-family: 'Raleway'; src: url('../assets/fonts/Raleway.woff2') format('woff2'); }
@font-face{ font-family: 'ArchivoNarrow-Regular'; src: url('../assets/fonts/ArchivoNarrow-Regular.ttf') format('ttf'); }
@font-face{ font-family: 'Quicksand'; src: url('../assets/fonts/Quicksand.woff2') format('woff2'); }

/*
*{
    font-family: 'Raleway';
}
*/
.alert-ios .alert-radio-label{ white-space: pre-line;}
.alert-md .alert-radio-label{ white-space: pre-line;}
.alert-wp .alert-radio-label{ white-space: pre-line;}

.error-message {
    color: #f65555 !important
}

.image-profile {
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
} 

.title-app {
    vertical-align: 65%;
}

.menu-list {
    margin-top:10px;
}
.item-menu {
    background: lighten($color: #27303D, $amount: 3%) !important;
    color:  lighten($color: color($colors, customColor1),$amount: 30%) ;
}

.button-small {
    font-size: 1.5em !important;
}
.item-menu-base {
    background: lighten($color: #27303D, $amount: 3%) !important;
    border-bottom:  rgb(32, 39, 50) solid 1px!important;
    color:  lighten($color: color($colors, customColor1),$amount: 30%) ;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    
}

.item-menu-button {
    background: lighten($color:#27303D, $amount: 3%) !important;
    color:  lighten($color: color($colors, customColor1),$amount: 30%) ;
    height: 20px;
    font-size: 1em;
}

.button-clear{
    color: white;
}

.badge-pedidos{
    background-color: red;
    position: absolute;
    top: -5px;
    right: -15px;
    border-radius: 100%;
}

.menu-popover .popover-content{
    width: 17.5em;
}