<ion-split-pane [when]="splitPane && menu">
    <ion-menu class="content-desktop" [content]="content" [enabled]="usuarioSrvc?.usuarioAtual">
        <ion-content class="item-menu">
            <ion-list class="menu-list" no-lines>
                <ion-item class="item-menu-base" *ngFor="let m of usuarioSrvc.usuarioAtual?.usr_menus" (click)="openPage(m)" menuClose>
                    <ion-icon name="{{m.mnu_icone}}" item-start></ion-icon>
                    {{m.mnu_nome}}
                </ion-item>
                <ion-item class="item-menu-base" (click)="verMeusPedidos()" menuClose>
                    <ion-icon name="cart" item-start></ion-icon>
                    Meus Pedidos
                    <ion-badge item-end color="customColor1" *ngIf="numeroPedidos">{{numeroPedidos}}</ion-badge>
                </ion-item>
                <ion-item class="item-menu-base" (click)="editarPerfil()" menuClose>
                    <ion-icon name="contact" item-start></ion-icon>
                    Meus Dados
                </ion-item>
                <ion-item class="item-menu-base" (click)="sair()" menuClose>
                    <ion-icon name="exit" item-start></ion-icon>
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer color="customColor1">
            <ion-toolbar color="customColor1" class="main-footer">
                <!-- <ion-buttons end small>
                    <button ion-button icon-only (click)="reloadMenu()">
                        <ion-icon class="button-small" name="refresh"></ion-icon>
                    </button>
                </ion-buttons> -->

                <ion-buttons end *ngIf="usuarioSrvc.usuarioAtual">
                    <button ion-button icon-only (click)="masterAccess()" *ngIf="usuarioSrvc.usuarioAtual.usr_email == 'wtempone@gmail.com'">
                        <ion-icon name="settings"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-nav main [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
<ion-header>
    <ion-navbar class="main-toolbar" color="customColor1">
        <ion-buttons>
            <button *ngIf="usuarioSrvc.usuarioAtual" ion-button icon-only (click)="showMenu()">
                <ion-icon class="title-app" name="menu"></ion-icon>
            </button>
            <button ion-button icon-only>
                <img class="image-profile" src="assets/img/appicon.png" />
            </button>
            <button ion-button icon-only>
                <span class="title-app" showWhen="landscape">{{ 'APP_NAME' | translate }}</span>
            </button>
        </ion-buttons>

        <ion-buttons end *ngIf="!usuarioSrvc.usuarioAtual">
            <button ion-button icon-only icon-left (click)="signup()">
                <ion-icon name="person-add"></ion-icon>
                <span showWhen="landscape">{{ 'SIGNUP' | translate }}</span>
            </button>
            <button ion-button icon-only icon-left (click)="login()">
                <ion-icon name="log-in"></ion-icon>
                <span showWhen="landscape">{{ 'LOGIN' | translate }}</span>
            </button>
        </ion-buttons>

        <ion-buttons (click)="show()" end *ngIf="usuarioSrvc.usuarioAtual">
            <button showWhen="landscape" ion-button icon-only>{{ usuarioSrvc.usuarioAtual.usr_nome }}</button>
            <button ion-button icon-only>
                <img *ngIf="usuarioSrvc.usuarioAtual.usr_fb_foto" class="image-profile" [src]="usuarioSrvc.usuarioAtual.usr_fb_foto.data.url"
                />
                <img *ngIf="!usuarioSrvc.usuarioAtual.usr_fb_foto" (click)="show()" class="image-profile" src="assets/img/user-placeholder-1.jpg"
                />
                <div *ngIf="meusPedidos">
                    <ion-badge class="badge-pedidos" color="customColor2" *ngIf="meusPedidos.length > 0">{{meusPedidos.length}}</ion-badge>
                </div>
            </button>
            <button ion-button icon-only (click)="userOptions($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>