<ion-split-pane [when]="exibeMenu">
    <ion-menu class="content-desktop"  [content]="content" when="xs"  [enabled]="usuarioSrvc?.usuarioAtual">
        <ion-content class="item-menu">
            <ion-list class="menu-list" no-lines>
                <ion-item class="item-menu-base" *ngFor="let m of usuarioSrvc.usuarioAtual?.usr_menus" (click)="openPage(m)">
                    <button class="item-menu-button" icon-left menuClose>
                        <ion-icon name="{{m.mnu_icone}}"></ion-icon>
                        {{m.mnu_nome}}
                    </button>
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer color="customColor1">
            <ion-toolbar color="customColor1" class="main-footer">
                <!-- <ion-buttons end small>
                    <button ion-button icon-only (click)="reloadMenu()">
                        <ion-icon class="button-small" name="refresh"></ion-icon>
                    </button>
                </ion-buttons> -->
            </ion-toolbar>
        </ion-footer>
    </ion-menu>
    <ion-nav main [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
<ion-header>
    <ion-navbar class="main-toolbar" color="customColor1">
        <ion-title text-left (click)="show()">
            <span>
                <ion-icon class="title-app" name="menu" (click)="showMenu()" ></ion-icon>
            </span>
            <span>
                <img class="image-profile" src="assets/img/appicon.png" />
            </span>
            <span class="title-app" showWhen="landscape">{{ 'APP_NAME' | translate }}</span>
        </ion-title>
        <ion-buttons end *ngIf="!usuarioSrvc.usuarioAtual">
            <button ion-button icon-only icon-left (click)="signup()">
                <ion-icon name="person-add"></ion-icon>
                <span showWhen="landscape">{{ 'SIGNUP' | translate }}</span>
            </button>
            <button ion-button icon-only icon-left (click)="login()">
                <ion-icon name="log-in"></ion-icon>
                <span showWhen="landscape">{{ 'LOGIN' | translate }}</span>
            </button>
        </ion-buttons>
        <ion-buttons (click)="show()" end *ngIf="usuarioSrvc.usuarioAtual">
            <button showWhen="landscape" ion-button icon-only>{{ usuarioSrvc.usuarioAtual.usr_nome }}</button>
            <button ion-button icon-only>
                <img *ngIf="usuarioSrvc.usuarioAtual.usr_fb_foto" class="image-profile" [src]="usuarioSrvc.usuarioAtual.usr_fb_foto.data.url"
                />
                <img *ngIf="!usuarioSrvc.usuarioAtual.usr_fb_foto" (click)="show()" class="image-profile" src="assets/img/user-placeholder-1.jpg"
                />
            </button>
            <button ion-button icon-only (click)="userOptions($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>