<div text-center class="img-photo">
    <img *ngIf="value" [src]="value" />
    <img *ngIf="!value" src="assets/img/appicon.png" />
</div>
<!-- <button *ngIf="value"  ion-button block (click)="changePhoto()">{{ 'CHANGE_PHOTO' | translate }}</button>
<button *ngIf="!value"  ion-button block (click)="changePhoto()">{{ 'SELECT_PHOTO' | translate }}</button> -->

<div>
    <p text-center>
        <label for="file-upload" class="button button-md button-default button-default-md button-label">
        <span *ngIf="value">{{ 'CHANGE_PHOTO' | translate }}</span>
        <span *ngIf="!value">{{ 'SELECT_PHOTO' | translate }}</span>                            
        </label>
    </p>
    <input id="file-upload" type="file" (change)="fileChangeListener($event)" style="display:none">
</div>