<ion-header class="content-desktop" *ngIf="usuarioSrvc.usuarioAtual">  
  <ion-navbar *ngIf="usuarioSrvc.usuarioAtual.usr_distribuidores.length > 0">
    <ion-title>{{distribuidor?.dist_nome}}</ion-title>
  </ion-navbar> 
</ion-header>
<ion-content class="tab-desktop" *ngIf="usuarioSrvc.usuarioAtual">
  <ion-tabs #tab color="customColor1" selectedIndex="0" *ngIf="distribuidor && usuarioSrvc.usuarioAtual.usr_distribuidores.length > 0">
      <ion-tab tabIcon="cart" tabTitle="Pedidos" [root]="pedidosDistribuidorPage" [rootParams]='distribuidor'></ion-tab>      
      <ion-tab tabIcon="bookmark" tabTitle="Catálogo" [root]="catalogoProdutoDistribuidorPage" [rootParams]='distribuidor'></ion-tab>
      <ion-tab tabIcon="settings" tabTitle="Meus Dados" [root]="painelDistribuidorConfigPage" [rootParams]='distribuidor'></ion-tab>
  </ion-tabs>
  <div class="tab-desktop" *ngIf="usuarioSrvc.usuarioAtual.usr_distribuidores.length == 0">
      <br><br><br><br><br><br><br><br><br><br>
      Você não possui acesso a esta funcionalidade
  </div>
</ion-content>
