<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro de Funcionalidade</ion-title>
    <ion-buttons end>
        <button ion-button color="customColor2" (click)="save()">{{ 'SAVE' | translate }}</button>
        <button ion-button icon-only (click)="navCtrl.pop()">
          <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="modal-desktop" >
  <form [formGroup]="formulario" novalidate>
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked>Mnemonico</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('fun_mnemonico')" formControlName="fun_mnemonico" type="text"
          placeholder="Digite o mnemonico"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('fun_mnemonico')">
        <p class="error-message">Mnemonico obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Titulo</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('fun_nome')" formControlName="fun_nome" type="text" placeholder="Digite o nome"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('fun_nome')">
        <p class="error-message">Nome obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('fun_descricao')" formControlName="fun_descricao" type="text" placeholder="Digite a descrição"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('fun_descricao')">
        <p class="error-message">Descrição obrigatório</p>
      </ion-item>
    </ion-list>
  </form>
</ion-content>