<ion-content class="content-desktop">
  <div class="content-desktop-margin-bottom">
    <div padding>
      <ion-segment [(ngModel)]="configuracao">
        <ion-segment-button value="perfis">
          Perfis
        </ion-segment-button>
        <ion-segment-button value="funcionalidades">
          Funcionalidades
        </ion-segment-button>
        <ion-segment-button value="menus">
          Menus
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="configuracao">
      <div *ngSwitchCase="'perfis'">
        <ion-toolbar>
          <ion-title>Perfis</ion-title>
          <ion-buttons end>
            <button ion-button clear icon-only color="primary" (click)="editPerfil(null)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item-sliding *ngFor='let perfil of perfilSrvc.perfisAcesso | async'>
            <ion-item>
              <h3>{{perfil.per_nome}} ({{perfil.per_mnemonico}})</h3>
              <p>{{perfil.per_descricao}}</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="primary" (click)="editPerfil(perfil)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
              <button ion-button color="danger" (click)="excluirPerfil(perfil.$key)">
                <ion-icon name="trash"></ion-icon>
                Excluir
              </button>
              <button ion-button color="dark" (click)="configurarPerfil(perfil)">
                <ion-icon name="settings"></ion-icon>
                Configurar
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div *ngSwitchCase="'funcionalidades'">
        <ion-toolbar>
          <ion-title>Funcionalidades</ion-title>
          <ion-buttons end>
            <button ion-button clear icon-only color="primary" (click)="editFuncionalidade(null)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item-sliding *ngFor='let funcionalidade of funcionalidadeSrvc.funcionalidades | async'>
            <ion-item>
              <h3>{{funcionalidade.fun_nome}} ({{funcionalidade.fun_mnemonico}})</h3>
              <p>{{funcionalidade.fun_descricao}}</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="primary" (click)="editFuncionalidade(funcionalidade)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
              <button ion-button color="danger" (click)="excluirFuncionalidade(funcionalidade.$key)">
                <ion-icon name="trash"></ion-icon>
                Excluir
              </button>
              <button ion-button color="dark" (click)="configurarFuncionalidade(funcionalidade)">
                <ion-icon name="settings"></ion-icon>
                Configurar
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <div *ngSwitchCase="'menus'">
          <ion-toolbar>
            <ion-title>Menus</ion-title>
            <ion-buttons end>
              <button ion-button clear icon-only color="primary" (click)="editMenu(null)">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>

        <ion-list>
          <ion-item-sliding *ngFor='let menu of menuSrvc.menus | async'>
            <ion-item>
              <ion-icon ion-text color='dark' name="{{menu.mnu_icone}}" item-start></ion-icon>
              <h3>{{menu.mnu_nome}} ({{menu.mnu_page}})</h3>
              <p>{{menu.mnu_descricao}}</p>
            </ion-item>
            <ion-item-options>
              <button ion-button color="primary" (click)="editMenu(menu)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
              <button ion-button color="danger" (click)="excluirMenu(menu.$key)">
                <ion-icon name="trash"></ion-icon>
                Excluir
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>