<ion-header>
  <ion-navbar>
    <ion-title text-center>Cadastro de Produto</ion-title>
    <ion-buttons end>
      <button ion-button color="customColor2" (click)="save()">{{ 'SAVE' | translate }}</button>
      <button ion-button icon-only (click)="navCtrl.pop()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="modal-desktop">
  <form [formGroup]="formulario" novalidate>
    <ion-list no-lines>
      <select-produto [class.invalid]="verificaValidTouched('dist_produto')" formControlName="dist_produto" type="text" placeholder="Selecione o produto"></select-produto>
      <ion-item *ngIf="verificaValidTouched('dist_produto')">
        <p class="error-message">Produto obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Preço</ion-label>
        <ion-input [class.invalid]="verificaValidTouched('dist_preco')"  step="0.01" min="0.00" max="9999999999.99" formControlName="dist_preco" type="number" text-right placeholder="0,00"></ion-input>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('dist_preco')">
        <p *ngIf="formulario.get('dist_preco').hasError('required')" class="error-message">Preço obrigatório</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Categoria</ion-label>
        <ion-select [class.invalid]="verificaValidTouched('dist_categoria')" formControlName="dist_categoria" type="text" placeholder="Selecione a categoria">
          <ion-option *ngFor="let categoria of navParams.data.distribuidorCategorias | async" value="{{categoria.$key}}">{{categoria.cat_nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="verificaValidTouched('dist_categoria')">
        <p class="error-message">Categoria obrigatória</p>
      </ion-item>
    </ion-list>
  </form>
</ion-content>